[2015-08-07 15:27] vanaukenk opened #1 "Link outs to ENSEMBL gene IDs on PanTree pages"
Hi,

I had a WB user ask about supporting evidence for a PAINT annotation.

I directed them to the corresponding PanTree node page:
http://pantree.org/node/annotationNode.jsp?id=PTN000433338
but it looks like none of the ENSEMBL IDs link out to Ensembl gene pages.

Can links be added to the Ensembl gene pages from the PTN pages?

Once on the Ensembl gene pages, it takes a bit of surfing around to

[2015-08-11 18:50] selewis opened #2 "Speed up of loading is essential"
As an example PTHR23315 (1443 nodes) takes over an hour and still is stuck sorting terms out. Possibly it's crashed quietly, but I'm guessing it is traffic back-and-forth to GoLR.
Need to work with Seth and Heiko on this

[2015-08-12 03:52] krchristie opened #3 "annotation in "Annotations" tab but not in "Annotation Matrix"
When I load PTHR12858 (either New or Open from my saved files) there is one annotation I need isn’t showing up in PAINT-b14 correctly. For S. cerevisiae TSR1, there are three experimental CC annotations (from SGD's Manual Annotations section) listed in the “Annotations” tab:
- cytoplasm
- nucleolus
- preribosome, small subunit precursor

However, in the “Annotation Matrix”, only two direct annotat

[2015-08-13 16:43] krchristie commented on #3
It looks to me like the experimental GOCN annotations from P2GO are _mostly_  being treated as already propagated, as if they were GOCN (aka GO_Central) annotations made by PAINT, though I have no suggestion for why a few of the P2GO GOCN annotations fail to show up in the annotation matrix.

- The ones that are showing in the Annotations Matrix are colored blue, e.g. already propagated.

- In the

[2015-08-18 17:03] hdietze commented on #2
One optimization is to replace the OWLGraphWrapper.getAncestors method. This method is known to be slow and very high memory requirements.
The stop gap is to use a similar approach to the amigo loader (ExpressionMaterializingReasoner)  until a full switch to Scigraph for such queries can be made.

[2015-08-18 17:13] hdietze commented on #2
See example snippet: https://gist.github.com/hdietze/af03c672a1d18817b1b8

[2015-08-18 17:20] krchristie opened #4 "ability to submit tree issues other than pruning"
Hi,

As discussed at the August 18th PAINT meeting, both Pascale and I think it would be very useful to be able to submit comments and issues related to the tree structure where it is not necessary to prune.

For example, sometiems we see a duplication node somewhere in the tree and it looks from the MSA that one or more subnodes under the duplication node does not belong with the rest of the tree

[2015-08-18 21:50] #2 closed

[2015-08-19 08:47] pgaudet commented on #4
Hello,

I would make this suggestion a little more specific by giving a few options - but right now I can only think of one option: 'node needs to be evaluated' (so that Panther folks can decide to remove/merge with a new family, etc).

So upon right click on a node we'd have this extra option.

Thanks,
Pascale

[2015-08-19 12:57] pgaudet opened #5 "Functionality to predict which ancestor to annotate should take taxon constraints into account"
When we right click on a term in the annotation matrix, one of the ancestral nodes lights up to show us which ancestor we can annotate based on the triangulation of the evidence. However this does not take the taxon constraints into accounts, so that the suggestion may be misleading.

If the calculation cannot be done exactly, terms for which there is a taxon constraint should at least trigger a w

[2015-08-19 15:14] selewis commented on #4
Thanks Pascale, that was exactly the question I had: I don't think free
text would be all that useful to the PANTHER tree builders. What we've done
in other cases like this is to have 'canned' comments (that are
configurable) and then the user picks one from this list. I can easily
start with a list of one.

-S

On Wed, Aug 19, 2015 at 1:47 AM, pgaudet <notifications@github.com> wrote:

[2015-08-19 15:16] selewis commented on #5
good idea, it currently doesn't take taxon constraints into account.

On Wed, Aug 19, 2015 at 5:57 AM, pgaudet <notifications@github.com> wrote:

[2015-08-19 15:22] krchristie commented on #4
I agree that having specific options is valuable, but I would also like to be able to associate a comment with that option.

What about having a list of options and then an optional free text comment associated with it? I often have specific info about why the node needs to be evaluated, and sometimes about why I pruned a node. If I can't add that info about why I think the node  needs to be evalu

[2015-08-19 15:44] krchristie commented on #4
Adding to my previous comment, sometimes I have info about where I think what family I think the node belongs in.

[2015-08-19 17:18] pgaudet opened #6 "PAINT should save in the .txt file the version of PAINT/Panther used for annotation"
PAINT should save in the .txt file the version of PAINT/Panther used for annotation

AND
information about any changes resulting from touchup should also be saved in the .txt.

Merci :)

[2015-08-19 18:38] selewis commented on #4
We can use the existing 'notes' region for any free text, and use the node
comment more as a way to categorize the type of problem in such a way that
it can be automatically detected programmatically. Once the tree/node is
recognized by such a script then whoever is fixing things can read the free
text.

On Wed, Aug 19, 2015 at 8:44 AM, Karen R Christie <notifications@github.com>
wrote:

[2015-08-19 21:15] huaiyumi opened #7 "Problem opening and curating large families with v1.14 of paint"
PAINT stops loading the tree after the "Initializing multiple sequence alignment" message shows up. The java console has the following message:
Exception in thread "AWT-EventQueue-0" java.lang.OutOfMemoryError: Java heap space

The family contains about 1800 sequences, however, the size of the family doesn't seem to be a problem, because PAINT has no problem opening a larger family (PTHR24361), wh

[2015-08-20 19:15] huaiyumi commented on #7
Actually this issue is probably related to the size of the family.  I was able to opened PTHR24093, which has about 1550 sequences, but a lot of experimental annotations in the matrix. After I propagated 2 terms, the software stop responding. There is the same message in the java console.

[2015-08-23 04:33] selewis opened #8 "getAncestors is failing on go:0006757"
Might be something to do with how many parents there are...

[2015-08-30 19:59] selewis commented on #8
Turns out that it is a bug in the Java VM with the timsort in java 1.7 that replaced the mergesort used in earlier releases. Fix was to set the environment variable useLegacyMergeSort to true

[2015-08-30 19:59] #8 closed

[2015-08-30 20:33] cmungall commented on #8
@hdietze this sounds like bad news for owltools - should we be worried for other applications

[2015-09-24 07:59] ValWood opened #9 "Transfer of annotation using "contributes_to" in paint"
I wasn't sure which tracker this should go on (annotation or PAINT)

I suspect both, annotations need fixing, and annotation transfer policy needs reviewing

See detailed example in
https://github.com/geneontology/go-annotation/issues/1319

[2015-09-24 08:11] ValWood opened #10 "PAINT annotations are being generated for things with taxon restrictions"
See
https://github.com/geneontology/go-annotation/issues/1320

[2015-10-21 21:56] selewis commented on #3
These are all showing up in both the annotations table and the matrix for TSR1: cytoplasm, nucleolus, nucleus, preribosome, small subunit precursor, and 90S preribosome in PAINTv2.

Pascale is testing this now, and it should be release soon.

[2015-10-21 21:56] #3 closed

[2015-10-21 23:02] selewis commented on #6
Fixed in v2

[2015-10-21 23:02] #6 closed

[2015-10-22 19:41] selewis commented on #7
PTHR24093 and PTHR10489 both load fine in v2-beta. Also stay responsive.

Next time include any console output and record exactly what annotations you made so the error can be precisely replicated

[2015-10-22 19:41] #7 closed

[2015-10-23 00:04] selewis commented on #9
See wrap-up in geneontology/go-annotation#1319
golr loading wasn't including the qualifiers
should be rectified in next run of Touchup

[2015-10-23 00:04] #9 closed

[2015-12-09 06:29] monicacecilia opened #11 "PAINT file contents."
@selewis @huaiyumi
Valerie Wood @valwood reported this issue back in 2015-04-09  to the GO-Help Desk and it seems to have been buried in JIRA. It was brought up again two weeks ago and it appears the issue still needs to be addressed. http://jira.geneontology.org/browse/GO-799
I will post comments from each person separately.

## Initial issue from @valwood :
I'm not sure this is a directly a PAIN

[2015-12-09 07:58] ValWood commented on #11
Thanks Moni!

[2015-12-09 09:06] monicacecilia commented on #11
@ValWood please see comment form @huaiyumi on 2015-12-09 (he responded in JIRA):
These IDs are in reference proteome datasets that are used in PANTHER. I think I already sent the feedback to Uniprot about this problem.

@huaiyumi, may I kindly ask that you please share any feedback you get from UniProt? - if any.

[2015-12-09 09:07] huaiyumi commented on #11
I added my comment there. Basically the data was provided by reference proteome. We sent our feedback to them already about this problem.

Thanks,

Huaiyu

From: Monica Munoz-Torres <notifications@github.com<mailto:notifications@github.com>>
Reply-To: geneontology/paint <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, December 8, 2015 at 10:29 PM
To: geneontology/paint <paint

[2015-12-09 09:09] monicacecilia commented on #11
Ok. In that case, please close this issue whenever you think it is completed.
THanks! :)
cheers,

[2015-12-09 09:17] huaiyumi commented on #11
I believe the issue was in the previous PANTHER (9.0). Reference proteome fixed it already, so it should not be in v10 anymore.

Thanks,

Huaiyu

From: Monica Munoz-Torres <notifications@github.com<mailto:notifications@github.com>>
Reply-To: geneontology/paint <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, December 9, 2015 at 1:09 AM
To: geneontology/paint <paint@noreply.

[2015-12-11 15:43] pgaudet opened #12 "Annotations for high throughput papers on the exclusion list should not be shown in PAINT"
Example:
PTHR24387
20150604: Opisthokonta_PTN001348477 to nucleoplasm (GO:0005654)  using [UniProtKB:Q8WV37, UniProtKB:Q9Y2P7, UniProtKB:Q66K89, UniProtKB:O95625] - lacks supporting evidence

However in PAINT1.14 we still the reference supporting this (GO_REF:0000052).

These references need to be removed from the display, or else we may accidentally reannotate them.

Thanks,
Pascale

[2016-02-08 19:23] krchristie opened #13 "pop-up to propagate qualifier comes up for terms that don't have the qualifier"
Hi,

I was doing PTHR12746.

I propagated the term "cytoplasm" to the root and got a popup asking if I wanted to propagate the "contributes_to" qualifier (from S. cerevisiae). However, the term that the qualifier is attached to is actually a different term "cytosolic large ribosomal subunit ; GO:0022625". It seems inappropriate that PAINT should be allowing me to propagate a qualifier to "cytoplas

[2016-03-09 22:18] selewis commented on #10
I believe this has been fixed. Entirely new approach to taxon checking now that uses the built in relationships properly. It is based on 'loss', as long as any descendant can have the function it is allowed, but it also then indicates a 'loss' at the appropriate phylogenetic clade by recursing down the phlyogeny.

[2016-03-09 22:18] #10 closed

[2016-03-09 22:19] selewis commented on #11
Fixed.

[2016-03-09 22:19] #11 closed

[2016-03-09 22:25] selewis opened #14 "retry taxon checker"
Don't give up immediately, but try a couple times before ditching.

[2016-03-09 22:37] monicacecilia commented on #11
:dancer: :dancer: :dancer:

[2016-03-10 01:37] selewis commented on #12
They're gone now

[2016-03-10 01:37] #12 closed

[2016-03-10 02:05] selewis commented on #13
Works in PAINT v2.12

[2016-03-10 02:05] #13 closed

[2016-03-10 02:06] selewis commented on #14
Code has been added, seems to be working fine.

[2016-03-10 02:06] #14 closed

[2016-04-20 15:32] pgaudet opened #15 "Bug with 'colocalizes with'"
Hello,

In PAINT2.0-beta 15, trying to propagate a 'colocalizes' annotation crashes PAINT :(
For example: In PTHR14625, try to propagate Nucleus.

Thanks, Pascale

[2016-04-20 16:06] pgaudet opened #16 "PAINT should create a directory when we save"
Hello,

In PAINT-beta 15 we need to manually create a  folder and type its name (copy/paste does not work for me). It'd be less error prone if the files were directly saved in a directory. (Hopefully editing a family and re-saving it would not create additional directories! ).

Thanks, Pascale

[2016-04-25 22:47] krchristie opened #17 "bug with saving notes file"
Hi,

I am working with PAINT 2.0-beta14 (instead of beta1.14). I noticed today that when I save, this version is not saving my changes to the manual portion of the notes.

I am working on PTHR12858, which is a family I had worked on and saved previously (but not committed the files to SVN). Today, I opened my existing files into PAINT,  made component annotation propagations (there were none in th

[2016-04-25 23:05] krchristie commented on #17
and here is the console output from the Terminal window, the whole thing from launching PAINT to saving
<pre>
bash-3.2$ ./launchPAINT.sh
2016-04-25 09:21:05,167 INFO  (PaintYaml:45) Trying config found at: config/preferences.yaml
2016-04-25 09:21:05,215 INFO  (PaintYaml:50) Using config found at: config/preferences.yaml
2016-04-25 09:21:05,330 INFO  (PaintStartupTask:203) Loading Paint version 2.0

[2016-04-25 23:14] krchristie opened #18 "order of GO aspects in Annotations tab"
It would be great if the order of GO aspects in the Annotations tab could match the order of annotations in the Protein Family tab, like it did in PAINT 1 versions (e.g. 1.14).

PAINT 2.0-beta14 has the three aspects in the Protein family tab listed as:
Molecular Function    Cellular Component    Biological Process

However, in the Annotations tab, BP is first, then MF, followed by CC. It would be

[2016-04-26 18:03] selewis commented on #16
Closing because it's a duplicate. Same as https://github.com/geneontology/touchup/issues/43

[2016-04-26 18:03] #16 closed

[2016-04-26 23:41] selewis commented on #17
Karen, have you committed these files? Preferably the 'before' version.
Need this specific case to duplicate the problem (and hence fix it)

[2016-04-26 23:48] krchristie commented on #17
I had not committed the before files. Thus, when I saved from Paing2.0-beta14, I overwrote my originals.

However, you could recreate the important part of the file by using the file that exists after saving since the "NOTES" portion still IS the original version of the text. My original file also would have had no component annotations. So, this file below has the original text of the free text #

[2016-04-26 23:53] krchristie commented on #17
Alternatively, here are a couple familes that I commited last year with Paint-1.14 that have notes files.

PTHR32465
PTHR31148

[2016-04-26 23:57] selewis commented on #17
Odd thing though is that I just ran an update and I don't see this family
at all. One of the versions should be there.

Did you commit it to go/gene-associations/submission/paint/ ??

On Tue, Apr 26, 2016 at 4:53 PM, Karen R Christie <notifications@github.com>
wrote:

[2016-04-26 23:58] krchristie commented on #17
You shouldn't see it. I haven't committed it.

[2016-04-27 00:00] selewis commented on #17
Ah that's fine then.

No trouble duplicating, quite odd. code-rot

On Tue, Apr 26, 2016 at 4:58 PM, Karen R Christie <notifications@github.com>
wrote:

[2016-04-27 18:17] krchristie opened #19 "issues with propagations & with info for NOT annotations"
Hi,

I initially saw this for Paint2.0-beta14. I noticed that Pascale recently reported someting using 2.0-b15, so I just downloaded it and see the same issue in Paint2.0-beta15.

In the family PTHR13405, FB:FBgn0039004 has a NOT annotation to the BP term SMAD protein import into nucleus (GO:0007184). There are two problems related to this NOT annotation.

1. **NOT annotation to specific term bloc

[2016-04-28 21:08] selewis commented on #17
This was quite a serious bug. Think I've nailed it (hope so). Look at PAINT v2.16

[2016-04-28 21:08] #17 closed

[2016-04-28 21:38] selewis commented on #15
I couldn't duplicate this. It would just as you'd expect. Did the dialog box show up? Can you send me the console output too.

[2016-04-29 00:55] selewis commented on #19
Fixed in PAINT 2.17, please test

[2016-04-29 00:55] #19 closed

[2016-04-29 00:57] selewis commented on #18
Fixed in PAINT 2.17

[2016-04-29 00:57] #18 closed

[2016-04-29 05:54] krchristie commented on #19
Looks great. Thanks Suzi

[2016-04-29 05:59] krchristie commented on #17
Looks good to me. Tested once with 2.16 and again with a different family with 2.17.

Thanks!

[2016-04-29 06:00] krchristie commented on #18
Looks great. Thanks!

[2016-04-29 23:33] krchristie opened #20 "issue with NOTES in 2.17"
Hi Suzi,

While 2.17 definitely does save the notes, I noticed a different issue with the notes in 2.17.

If I had a family open that had text in the NOTES area (e.g. PTHR12858), and then I open another family using the "New" option, the NOTES field is not cleared and the text from the previous family remains present for the new family.

-Karen

P.S. Having updated my svn repository so that it ref

[2016-05-01 02:29] selewis commented on #20
Fixed.

Grab v2.18

Don't worry about the .attr files for two reasons 1. it grabs them
dynamically from PANTHER (they're only for offline use) and even then it
tries both the .tab and .attr files as these have the same content, so
either works. p.s. offline is not working right now, but no one has
noticed, so it's low priority.

I'll update the repository to hold just the .attr version.

-S

On Fr

[2016-05-01 03:22] selewis commented on #20
All are suffixed .attr now.

On Sat, Apr 30, 2016 at 7:29 PM, Suzanna Lewis <selewis@lbl.gov> wrote:

[2016-05-02 17:22] krchristie commented on #20
Thanks Suzi, for the fix as well as clarification on the .attr files.

v2.18 looks good to me too on this issue.

[2016-06-08 18:55] krchristie opened #21 "propagation logic issues"
Hi,

I have just annotated PTHR23193 - NUCLEAR PORE COMPLEX PROTEIN NUP

There seem to be some issues with the propagation logic that are producing results that aren't really what I want.

**Specific experimental annotations blocking propagation of a related but slightly more general term to that sequence.**

For example, MOUSE:NUP214 is already annotated to "mRNA export from nucleus (GO:0006406)

[2016-06-10 13:11] pgaudet commented on #15
Hello,

This happened again with PTHR11715. The pop up box does appeear, but then nothing happens when I try to click on continue (or check the 'CONTRIBUTES TO box). I have been waiting for over 3 hours.

Here's the terminal window output, but it didn't seem to have output anything:

M-200278:paint2.0-beta pascalegaudet$ sh launchpaint.sh
2016-06-09 11:15:07,444 INFO  (PaintYaml:45) Trying config

[2016-06-10 14:23] cmungall commented on #15
Thanks for posting the log output.

Most of that is logging from the OWLAPI and is all normal.

This comes from PAINT:
2016-06-09 11:29:13,040 INFO (IDmap:113) Identical Seq ID
(UniProtKB:Q8ZHI7) for 2 different genes: ENSEMBL:YP_3603 ENSEMBL:y3293

I very much doubt it is the cause, but that is all I would have to go on
without investigating a lot more deeply, I'm sure Suzi could figure it
out qu

[2016-06-17 14:55] pgaudet opened #22 "Matrices not loading"
Hello,

It happens rather frequently that PAINT annotation matrices do not load at all, or load partially. An example is PTHR11442, that I tried loading today (2016/06/17) several times. Until 9 AM CA time, nothing was loading.
After 9 AM; the matrix only loaded annotation from Drosophila glob1 (Q9VF15). However, I know there is other data, for example for a mouse protein (P04247), which is not lo

[2016-06-17 18:12] cmungall commented on #22
Thanks for the log output.

Unfortunately there is nothing about the golr connection here, or what
it's doing in that 15 minute pause. I'll try and look later today. Suzi
is traveling today, and Seth is in Japan

On 17 Jun 2016, at 7:55, pgaudet wrote:

[2016-06-20 09:04] pgaudet commented on #22
OK. For information: I get the same problem today.

[2016-06-20 15:01] cmungall commented on #22
@pgaudet confirms this is Paint2.0-beta19 -- @selewis is this the latest version, that uses golr and not the mysql db?

[2016-06-21 20:35] cmungall commented on #22
@selewis - can we have the logs provide more information on:

 * which version of panther is used/expected
 * which golr connection is being used

[2016-06-25 14:49] selewis commented on #22
Still having issues?

I just loaded PTHR14422 and got annotations for mouse, human, rat, chick, zebrafish and fly. Including the gene you mentioned.

Not sure what the glitch was, but not able to duplicate the problem today.

[2016-06-25 14:51] #20 closed

[2016-06-25 14:55] selewis commented on #1
I know this is a PANTREE question (so more for Huaiyu), but what I've found works for PAINT is linking the ENSEMBL genes using this template: http://www.ensembl.org/Danio_rerio/Gene/Summary?g=ENSDARG00000052289

What makes these URL templates a nuisance is that it needs to include the genus_species as a part of the URL so they're not generic.

[2016-06-25 14:57] selewis commented on #1
Huaiyu

Send me you github user name so that I can assign this to you.

[2016-06-25 15:16] selewis commented on #15
Yes, messages such as this:
2016-06-09 11:29:13,040 INFO (IDmap:113) Identical Seq ID (UniProtKB:Q8ZHI7) for 2 different genes: ENSEMBL:YP_3603 ENSEMBL:y3293

Are informational only. There are many cases with one uniprot ID mapping to multiple gene IDs, and similarly single gene IDs mapping to multiple UniProt IDs. Just the usual splits and merges of genes being out of phase across project. I outp

[2016-06-25 15:20] selewis commented on #15
Also I was unable to duplicate the problem.
I was able to annotate "contributes to" for glycine dehydrogenase in family PTHR 11715.
You got the dialog, clicked the check box, and hit continue, right?

mystified.

Using PAINT 2.0-beta19

[2016-06-25 15:30] selewis commented on #21
Yes, "blocking" as opposed to "notting". PAINT use to have this, there was lengthy debate and it was removed. Paul would be better at summarizing why, but the gist is that if a function has been lost then the correct thing to say (from an evolutionary standpoint) is that it does not have that function any longer.

In short the blocking vs. notting gets into questions of the evolutionary model behi

[2016-06-25 15:36] selewis commented on #21
P.S. why not just annotate to the more general term at the top (closer to root) and then add the more specific classes at the appropriate branch points?

[2016-06-25 15:57] cmungall commented on #1
@huaiyumi

[2016-06-25 16:09] huaiyumi commented on #1
We will take a look and fix the problem.

[2016-06-25 23:45] cmungall opened #23 "Document dependencies and build process"
The README.txt says:

[code]

If it's all useless, better to remove it.

some dependencies like this:

[code]

use owltools. So the docs should say to git clone owltools and mvn install it (better to only use dependencies that are on mvncentral, but we are where we are with owltools).

This one is more mysterious:

[code]

if this is the old OBO-Edit bbop.jar we really need to remove the dependenc

[2016-06-29 20:10] pgaudet commented on #22
Hello,

This is reproducible for me. For the past few days I have only been able to upload Drosophila data. Marc doesn't have this problem on the PC, but Karen does (see the email she sent today).
This is a show stopper for me :((( any advice would be much appreciated.

Pascale

[2016-06-29 20:13] pgaudet commented on #22
This is the terminal window:
2016-06-29 21:06:03,392 INFO  (AbstractReasonerStage:161) Class Taxonomy Computation using 2 workers
2016-06-29 21:06:27,505 INFO  (LoggingStageExecutor:103) Class Taxonomy Computation took 24122 ms
2016-06-29 21:08:23,950 INFO  (IDmap:113) Identical Seq ID (UniProtKB:D4A021) for 2 different genes: RGD:2320907 RGD:1305765
2016-06-29 21:08:23,950 INFO  (IDmap:113) Ident

[2016-06-29 21:42] pgaudet commented on #22
Could the ' Identical Gene ID' be the problem ? Why would this cause problems ? Gene names are shared between genes from different species, or different UniProt (TremBL/Swiss-Prot IDs). I dont remember seeing this before.

Thanks, Pascale

[2016-06-30 14:08] krchristie commented on #22
Here are several families I could not successfully load, with comments about genes I know are annotated but for which NO annotations were loaded, as well as what did load, typically only a couple annotations for Drosophila.

PTHR19853
- YEASX:DIP2 - well annotated in SGD, but no annotations loaded
- DROME:CG8064 – 2 BP annotations loaded

PTHR19854
- YEASX:UTP13 - well annotated in SGD, but no ann

[2016-07-15 01:15] cmungall opened #24 "Investigate latency issues with PAINT connecting to services"
It appears that PAINT can take too long on startup.

Some possible causes:
- Connection to server not being closed, bringing down golr (cc @kltm )
- Iterative queries being used where a single query would suffice

Some steps towards diagnosis:
- A logger INFO call should be made for each Golr call. This way we can help better diagnose user issues.
- Code review Golr-client and PAINT code calling i

[2016-07-22 23:58] cmungall commented on #23
Remaining:

 - [ ] bbop.jar -- see https://github.com/geneontology/oboedit-bbop/issues/1
 - [ ] idw -- not in mvn central
 - [ ] macify - now in mvn central

Any remaining will have to be added as jars somehow. See:

http://stackoverflow.com/questions/15305679/maven-and-eclipse-a-reliable-way-to-add-non-maven-or-external-jars-to-a-project

[2016-07-23 00:06] selewis commented on #23
Using Macify from mvn central

[2016-07-28 00:31] selewis commented on #22
I think I've got it. If the annotations are retrieved from the backup GOlr server (http://golr.berkeleybop.org) then you don't get everything (it must be out of date). It needs to get the annotations from the public golr server (http://golr.geneontology.org).

This switch is found in config/preferences.yaml

Please make sure that this is set correctly. The line should read as follows:
GOlrURL: htt

[2016-07-28 00:31] #22 closed

[2016-08-02 23:18] monicacecilia opened #25 "PAINT annotation of yeast genes to non-yeast terms"
Please note that this issue is mirrored on the GO-annotation repo at https://github.com/geneontology/go-annotation/issues/1424

@pgaudet, @selewis I'm adding it here as well to bring to your attention.

========

@robnash noticed PAINT propagated annotations to yeast genes at SGD for GO terms that appear to be specific for higher eukaryotes. He asked whether someone could please take a look:

GO:0

[2016-08-03 22:40] monicacecilia commented on #25
@pgaudet, @selewis, for your information, more from @robnash:

Adding centrosome to the list, as yeast do not have a centrosome, rather a functional equivalent called the spindle pole body (GO:0005816)

GO:0005813 centrosome:
KIN3 P22209
CDC14 Q00684
ESP1 Q03018
SPC97 P38863
SPC98 P53540

[2016-08-04 18:19] selewis commented on #25
A variety of things going on here.

1. There appear to be some issues with the taxon constraints.
For RCN1 P36054 the annotation to GO:0070884 regulation of calcineurin-NFAT signaling cascade is valid. This is in PTHR10300. Someone needs to say whether or not it should pass the taxon checks or not. (and fix accordingly)
Use this to test (Taxon 559292 is yeast)
http://owlservices.berkeleybop.org/is

[2016-08-05 13:20] paolaroncaglia opened #26 "PAINT annotations to ‘apoptotic process’ in plants"
Hello,

I just noticed some PAINT annotations to ‘apoptotic process’ for plant species (Viridiplantae). These are 165 IBAs, all with qualifier = NOT. May I please double-check this - I kind of remember that there was some issue in applying taxon constraints via PAINT but can’t recall if this was fixed. Apoptosis as such doesn’t occur in plants, and yes all those annotations say that some gene prod

[2016-08-08 12:57] selewis commented on #25
A variety of things going on here.

1. There appear to be some issues with the taxon constraints.
For RCN1 P36054 the annotation to GO:0070884 regulation of calcineurin-NFAT signaling cascade is valid. This is in PTHR10300. Someone needs to say whether or not it should pass the taxon checks or not. (and fix accordingly)
Use this to test (Taxon 559292 is yeast)
http://owlservices.berkeleybop.org/is

[2016-08-09 12:34] pgaudet commented on #25
Hi Rob,

I did notice the centrosome issue before. I think the annotation should be replaced by the parent term GO:0005815 microtubule organizing center, the parent of both
--  	GO:0005813 	centrosome
-- 	GO:0005816 	spindle pole body

Unfortunately we haven't been able to load large families in PAINT 2.0 (I am now working in PAINT2.22 with PTHR11566, a 500 members family, and every operation take

[2016-08-12 23:28] monicacecilia commented on #25
@robnash - FYI comments and questions await your response in this issue.  ~m.

[2016-08-13 20:11] selewis commented on #25
@pgaudet
Have you committed PTHR11566 yet?

I updated PTHR24362, the family with the centrosome problem.

Someone on the ontology (Val? @dosumis) needs to look at the conidiophore/multicellularorganism issue though. That is a annotation/ontology/taxon problem (or set of problems)

1. Why ever annotate to Multicellular organism development?
2. Do we need a multicellular structure development term?

[2016-08-14 00:49] cmungall commented on #25
1. we currently have [101 experimental annotations to this](http://amigo.geneontology.org/amigo/search/annotation?bookmark=http%3A%2F%2Fgolr.geneontology.org%2Fselect%3FdefType%3Dedismax%26qt%3Dstandard%26indent%3Don%26wt%3Djson%26rows%3D10%26start%3D0%26fl%3D*%2Cscore%26facet%3Dtrue%26facet.mincount%3D1%26facet.sort%3Dcount%26json.nl%3Darrarr%26facet.limit%3D25%26personality%3Dannotation%26sfq%3D

[2016-08-14 17:15] selewis commented on #25
@cmungall - Right now PAINT follows is_a, part_of, and regulates relationships, so that explains the inclusion of multicellular organism development as a 'parent' term. That is, the ontology is currently asserting that conidiophore development is part_of multicellular organism development - but that is not true biologically. For that matter, is a conidiophore an organ? Not sure what, or if, we've

[2016-08-14 17:22] selewis commented on #25
p.s. Not sure if there is a taxon issue.

The question was whether or not any organism that develops a multicellular structure (e.g. a conidiophore) can be deemed a multicellular organism. In which case, yeast (assuming it does sometime during its life under the right conditions forms conidiophores) is a "multicellular organism", even though most of the time it is single celled.

@ValWood

[2016-08-14 21:23] cmungall commented on #25
See https://github.com/geneontology/go-ontology/issues/12578 for my thoughts on the utility of an organ grouping. The string "spore-bearing organ" does seem to be used by some fungal biologists, but that doesn't mean that 'organ development' in a useful grouping in GO.

Re: conidiophores. I thought that yeast lack conidiophores. But you're right the ontology is most likely baking in some dodgy ass

[2016-08-15 13:19] pgaudet commented on #25
@selewis PTHR11566 was committed last week.

Would you please tell me how you updated PTHR24362 (the centrosome problem) ?

Thanks, Pascale

[2016-08-15 13:40] pgaudet commented on #15
I get it ! You need to check *or not check) the 'contributes to' box, and hit 'enter'. For me the 'Continue' button is not working. So for usability, pls remove the button or activate it.

Thanks, Pascale

[2016-08-15 14:07] ValWood commented on #25
I'm not sure where the taxon restrictions should be for conidiophores or whether  they should be considered 'multicellular organism development"....my gut feeling is that they shouldn't.

Midori @mah and Antonia @antonialock @dianeoinglis
thoughts?

(I am following this tracker already Suzi, but tag me  if you want my input.)

[2016-08-15 17:31] selewis commented on #25
@pgaudet - I simply loaded PTHR24362 into PAINT2.22 which has a fix to a bug. The bug was that the taxon check was not including the individual leaves, only ancestral nodes.

No changes to any annotations, except that now the yeast genes have a NOT.

[2016-08-15 17:34] selewis commented on #25
@ValWood - we share a gut feeling. That is, conidiophore development should not be considered as part_of 'multicellular organism development". This would be a problem in the ontology, which is where we could use help as Chris suggested. Take a look at the graph he provided and see what you think.

[2016-08-15 19:53] selewis commented on #25
@ValWood and everyone,

In the particular family under question regarding conidiophores - PTHR10050

Emericella nidulans proteins G5EB59, Q5BDC1 have IMP annotations to conidiophore development based on this paper: http://www.ncbi.nlm.nih.gov/pubmed/19666781?dopt=Abstract

Human protein Q9Y6A1 has a TAS annotation to multicellular organism development based on this paper http://www.ncbi.nlm.nih.go

[2016-08-15 20:33] selewis commented on #15
Do you know what version of Java you are running?

Try typing this on the command line:
java -version

[2016-08-16 09:34] dianeoinglis commented on #25
I commented on calcineurin-NFAT https://github.com/geneontology/go-ontology/issues/12581

The issue of some fungal structures and processes being classified as a "multicellular organismal processes" AND "development"  are both big problems. Conidiophores have both problems, mycelium development has both problems and is likely confused with mycelia that do not form reproductive structures (some do,

[2016-08-16 16:53] selewis commented on #25
+1 @dianeoinglis
well said

[2016-08-16 19:24] selewis commented on #26
This will require someone to re-annotate the relevant families, which we cannot do unless we know the family ID (i.e. the PTHRnnnnn). To even begin to do this we need the Uniprot IDs for these proteins, but most direct is the PTHRnnnnn. IDs please of some sort.

[2016-08-17 10:23] ValWood commented on #25
Sounds sensible  to me Diane.

[2016-08-17 16:32] dianeoinglis commented on #25
My research experience is in the area of filamentous growth and virulence of C. albicans, a dimorphic species and sporulation in Histoplasma, a true Dimorphic Fungus. When I curated at CGD and AspGD, my curation experience was on-the-job training. My scientific experience was the more important need at CGD and AspGD. "Filamentous growth" was the only term. There was no distinction in the variety o

[2016-08-17 17:36] selewis commented on #25
Seems quite sensible to me as well.

Would you add this request to the ontology tracker please.

(and link back to this issue...)

On Wed, Aug 17, 2016 at 9:32 AM, Diane O Inglis <notifications@github.com>
wrote:

[2016-08-18 11:29] dianeoinglis commented on #25
Yes, I will soon. I am examining the FAO for relevant existing terms and related terms. As soon as I gather a bit more info, I will add the request.

[2016-08-18 16:30] pgaudet commented on #26
I'm happy to be assigned this issue.

[2016-08-23 14:05] pgaudet commented on #25
Corrected PTHR10050 (removed multicellular dev)

[2016-08-26 22:26] krchristie commented on #15
I am seeing this problem also.

For family PTHR21524, I would like to propagate the term "cytoplasmic microtubules" with the colocalizes qualifier. When I drag the term to the root, the dialog box appears. PAINT doesn't seem fully crashed, as I can move this dialog window around, but the dialog box is unresponsive to any of these actions:
- checking the COLOCOLIZES button
- pressing the continue b

[2016-08-29 20:36] selewis commented on #15
We changed/updated the layout manager library (macify) and I'm guessing
that is the problem. Will need to either revert or find a third
alternative. Not a super quick fix since it takes some research.

On Fri, Aug 26, 2016 at 3:26 PM, Karen R Christie <notifications@github.com>
wrote:

[2016-09-14 05:42] selewis opened #27 "Improve reporting of possible evolutionary "loss" of a given GO class"
Rather than balloon text bring up a full blown dialog for the curator to decide whether they want to proceed with the annotation.

[2016-09-14 05:42] #27 closed

[2016-09-14 05:43] selewis opened #28 "Ensure that tree panel is refreshed after expand/collapse"
Confusing otherwise...

[2016-09-14 05:43] #28 closed

[2016-09-14 05:49] selewis opened #29 "Add new annotation method via a popup menu in the matrix"
Because you'll get RSIs with the constant drag and drop. Plus it is difficult to drag to a node and position the cursor directly over it, especially when the tree is large. Now you can annotate the selected node directly from the matrix.

[2016-09-14 05:49] #29 closed

[2016-09-14 06:01] #25 closed

[2016-09-14 06:01] #26 closed

[2016-09-16 21:14] selewis opened #30 "Initial tree drawn on single Y position."
Need to set the attr table model up first because the position of the rows is used to determine the position of the nodes on the y axis so these line up

Thanks to Pascale for picking up on this.

[2016-09-16 21:14] selewis commented on #30
Fixed in v2.25

[2016-09-16 21:14] #30 closed

[2016-10-03 18:45] krchristie opened #32 "tree drawing issues (v2.25)"
HI Suzi,

It looks like v2.25 still has issues with squashing the tree view in some circumstances.

I had collapsed some nodes, which worked fine, but when I uncollapsed them, the tree view got squashed (treeViewAfterUncollapsingNode), compared to what it should be after I forced it to redraw by changing the scale (treeAfterRescaling).

-Karen

[2016-10-18 21:35] krchristie commented on #15
This problem with the popup menus being non-functional and impossible to dismiss also occurs with the "evolutionary loss" popup.

![20161018-evolosspopup](https://cloud.githubusercontent.com/assets/10533218/19497192/12dd7348-9540-11e6-833b-592153aa33ea.jpg)

I understand that this is a super quick fix, but it is super annoying. I keep losing work because I've done several propagations in quick suc

[2016-10-20 22:19] tberardini opened #33 "column 2: DB Object ID in TAIR files"
http://viewvc.geneontology.org/viewvc/GO-SVN/trunk/gene-associations/submission/paint/pre-submission/gene_association.paint_tair.gaf

In this most recent file, there are two variations on the information present in column 2. Here's one example of each:  (AT3G51730 vs. locus:2014922)

TAIR	AT3G51730	T18N14.110		GO:0008047	PAINT_REF:11480	IBA	PANTHER:PTN001352635	F		UniProtKB:Q9SCT5|PTN000159460	pro

[2016-10-27 20:18] cmungall commented on #24
See #1322 for some data points

[2016-10-27 20:22] cmungall commented on #15
I have changed the label on this ticket from 'question' to 'bug'. And because @krchristie was losing work I added a label 'affects usability'.

[2016-10-27 20:28] kltm commented on #24
@cmungall what tracker for #1322?

[2016-10-27 20:30] cmungall commented on #24
oops, assumed it was the same, but obviously PAINT hasn't accumulated that many!

https://github.com/geneontology/go-annotation/issues/1322

[2016-10-28 08:06] pgaudet commented on #15
I think there is a work around for this bug: for me when I try to *click*
on continue, then PAINT freezes. However when I hit *enter* then it works
fine.

Pascale

On Thu, Oct 27, 2016 at 10:22 PM, Chris Mungall <notifications@github.com>
wrote:

[2016-10-31 22:17] cmungall opened #35 "launchPAINT.sh has arguments in the wrong order"
See https://github.com/geneontology/go-annotation/issues/1322#issuecomment-257437035

`-Xmx` should be specified before the `-jar`

[2016-11-01 03:59] krchristie commented on #15
Thanks for that info Pascale. Hitting 'enter' is a work around for at least not losing work.

However, the fact that these pop-ups are  non-functional in terms of being able to propagate a qualifier since ticking the box does not work means that there are some propagations that are impossible to make since it is impossible to select the qualifier.

-Karen

[2016-11-03 22:21] pgaudet opened #36 "Implement ability to add qualifiers in PAINT"
(First we need to decide which qualifiers are allowed - to be decided at the USC meeting 11/2016).

[2016-11-05 23:28] cmungall opened #37 "Consider adding annotation extensions to paint"

[2016-11-15 13:03] selewis commented on #33
It is dependent on when the family-gaf files were produced, older ones used the ATxxxxxxx ID. Once touchup is finally run these should all be of the preferred form. I'll leave the issue open until touchup is run.

[2016-11-15 13:53] selewis commented on #32
@krchristie - Yes indeed. I found the problem for this (have to do things in a certain order).
Should be in v2.27 which I hope will be out later today.

[2016-11-15 13:53] #32 closed

[2016-11-15 13:54] selewis commented on #36
Progress?

[2016-11-15 16:37] tberardini commented on #33
Thanks for the update.  I'll keep my eyes open for the notification about the touchup run.

[2016-11-16 18:46] krchristie opened #38 "2.27 - completely blank"
Hi Suzi,

I just downloaded this and launched it today (had some prior commitments Monday & Tuesday).

According to the console log, it is very fast, but the PAINT window that opens is just a blank gray window with a header bar no matter what I do. PAINT isn't actually crashed, as various menu commands open and/or work, including "Quit PAINT" under File, "Color selection..." under Edit, and  "New"

[2016-11-16 20:39] selewis commented on #38
Goodness, we'll need to get together on line to track this down.

Anyone else have the same problem?

On Wed, Nov 16, 2016 at 10:46 AM, Karen R Christie <notifications@github.com

[2016-11-16 21:23] selewis commented on #38
Wait, this is really simple.

Where did you put the jar file? It needs to be in the same directory where
your existing config directory is located. I took a screenshot of my
terminal window to show what your directory might look like.

It's not showing anything because it needs your personal layout information
to know where to put things. You could do this from the interface itself,
but simpler ju

[2016-11-16 22:42] krchristie commented on #38
Thanks for looking into this so quicky Suzi.  I thought this was going to solve it. That was the cause of the blankness, but restoring missing files in config directory hasn't solved everything. I normally duplicate the whole directory and rename it before putting the new jar file it it, but I did it slightly differently this time and forgot to copy the component_prefs and perspectives directories

[2016-11-16 22:47] selewis commented on #38
Did you choose to load from a local file or from the server? (for the tree)

On Wed, Nov 16, 2016 at 2:42 PM, Karen R Christie <notifications@github.com>
wrote:

[2016-11-16 22:50] krchristie commented on #38
So, far, I've only been trying load using the "New" command.

[2016-11-16 22:54] selewis commented on #38
Okay,

Skype?

On Wed, Nov 16, 2016 at 2:50 PM, Karen R Christie <notifications@github.com>
wrote:

[2016-11-17 23:53] selewis opened #39 "Loading a new family failing in v2.27"
@krchristie reported this one.

Had to do with accidentally passing the wrong boolean to the loader. Compiled okay because one boolean is as good as another, but the intent was confused.

[2016-11-17 23:54] selewis commented on #39
will be fixed in v2.28 (if I don't release a v2.27a)

[2016-11-17 23:54] #39 closed

[2016-11-18 00:10] selewis opened #40 "scroll to selected node on command-click in matrix"
@pgaudet wants to see the ancestral node in the tree (rather than just down at the bottom) that will be annotated from the matrix popup menu (for annotation). So may need to scroll to get it into the visible view.

[2016-11-18 00:13] selewis commented on #40
Added this feature. Will be available in v2.28

[2016-11-18 00:13] #40 closed

[2016-11-18 00:15] selewis opened #41 "include not only only the ancestral node, but its descendants with exp. evidence in the node table (bottom panel)"
@pgaudet request

[2016-11-18 19:45] selewis commented on #38
Same as issue #39

[2016-11-18 19:45] #38 closed

[2016-11-18 19:46] selewis commented on #35
Fixed in release v2.27

[2016-11-18 19:46] #35 closed

[2016-11-18 19:57] selewis opened #42 "Improve column sorting of terms in matrix panel"
@pgaudet and marc, I looked into this and while I found one small bug with the gray/white vertical striping mostly it appears that when the terms aren't grouped together in the way you would expect it is because there is no hierarchical relationship in the ontology. I just posted an issue on ontology tracker about a couple of these. You should do the same as well.

@ukemi, @cmungall and @kltm - I

[2016-11-18 20:00] selewis commented on #42
p.s. If things are working as intended each grey or white set of adjacent columns reflect one collection of related terms. When there is a transition from grey-->white or white-->grey that indicates that no relationship was found.

[2016-11-21 09:54] #42 closed

[2016-11-21 09:55] selewis commented on #41
Should be there in v28. See what you think.

[2016-11-21 09:55] #41 closed

[2016-11-23 00:04] selewis commented on #15
I think this is related to this bug report: https://bugs.openjdk.java.net/browse/JDK-8139393
Basically the fact that the dialog is called from the drop function (which means the drop class has control of the mouse) it isn't letting go of mouse control for the dialog box to hear about.

It is java version dependent, but in the meantime I can implement the fix they recommend and see if that works. C

[2016-11-23 16:25] krchristie commented on #15
I'll be happy to Suzi, just let me know.

-K

[2016-11-28 21:13] selewis opened #43 "Recursion error when checking for valid taxa"
The code was incorrectly repeatedly using the original array of nodes, rather than moving down the tree and checking the child nodes at each level

[2016-11-28 21:13] selewis commented on #43
Fixed in v2.28a

[2016-11-28 21:13] #43 closed

[2016-11-29 21:05] krchristie opened #44 "2.28.1 - Annotations tab not showing all annotations"
Hi Suzi,

I loaded PTHR38687 into 2.28.1 and am seeing something weird. The Annotation Matrix shows 4 annotations total (1 MF, 2 CC, and 1 BP). However, the Annotations tab only shows 2 annotations (1 MF and 1 CC). The previous version 2.28 is fine in this regard. For both versions, I loaded this family as New. May or may not be relevant, but I notice that v2.28.1 is only showing one annotation ea

[2016-11-30 16:03] krchristie commented on #44
Actually this isn't specific to 2.28.1, and doesn't seem to be consistent.

Later on 11/29/16, I loaded a family (PTHR38603) into 2.28 and it was missing some annotations in the Annotations tab that were shown in the Annotation Matrix.
![20161129-2 28-missingbp](https://cloud.githubusercontent.com/assets/10533218/20759915/43a416a8-b6d3-11e6-8080-ef9c4cad520b.jpg)

Then on 11/30/16, I loaded that s

[2016-11-30 23:29] krchristie opened #45 "notes persisting on loading new family is back"
Hi Suzi,

This issue of notes persisting from the previous family when loading a new one seems to be back.

I was using v2.28.1. The note shown is from the previous family, PTHR38601, not the PTHR15431 family that has just been loaded.

![20161130-2 28 1-persistantnote](https://cloud.githubusercontent.com/assets/10533218/20775726/3fb4f39e-b711-11e6-8d2d-1c57819cfe2f.jpg)

thanks,

-Karen

[2016-12-02 23:40] selewis commented on #45
Neither of these families appear to be in the svn repository so I can't test with exactly the same thing. In the mean time I tried loading existing+existing and existing+new and the problem is not appearing. Please provide an example I can use directly to work on this.

[2016-12-05 20:39] krchristie commented on #45
PTHR38601 was already in SVN:
<pre>
bash-3.2$ svn log PTHR38601/PTHR38601.gaf
------------------------------------------------------------------------
r37420 | kchris | 2016-11-30 14:23:35 -0800 (Wed, 30 Nov 2016) | 1 line

not new annotations, examined but unannotated Panther family
------------------------------------------------------------------------
r37411 | kchris | 2016-11-30 11:04:54 -080

[2016-12-08 04:02] selewis commented on #45
Turns out this had nothing to do with the notes, it was the family PTHR15431 itself causing the issue. Turns out one of the PAINT annotations was a negation of a particular term (GO:42384) that is now obsolete. While PAINT was replacing/updating to the new term for the positive annotations, it was missing these.

[2016-12-08 04:02] #45 closed

[2016-12-08 04:06] selewis opened #46 "Show all possible 'withs' in the associations table"
As requested by Pascale.

[2016-12-08 04:06] selewis commented on #46
in v2.28.2

[2016-12-08 04:06] #46 closed

[2016-12-08 05:27] selewis commented on #15
I've made another attempt at a fix for this. Give try to v2.28b and see if I've managed to work around it.

[2016-12-08 07:21] selewis commented on #44
Yep, definitely weird. The number of rows in the table wasn't being updated when a new node was selected. Try v2.28c

[2016-12-08 07:21] #44 closed

[2016-12-08 23:31] krchristie commented on #15
v2.28b did not fix this for me.

v2.28c does fix the dialog box issue for me!

FYI: I notice that this version seems to make my computer run quite loudly, i.e. activates the fan.
I also turned on "Activity Monitor" and watched the CPU load, and it is noticeably high in a way that correlates with v2.28c, especially after doing some propagations (launched, did some propagations, and quit 3 times). I

[2016-12-09 19:08] selewis commented on #15
So happy that the dialog box issue is fixed (whew).

In my memory it's always been 'noisy' when initially loading during the
allocation of memory, so I don't think this is new. It should quiet down
post-loading.

I'll take a look at the title bar thing and make a v2.29 release.

On Thu, Dec 8, 2016 at 4:31 PM, Karen R Christie <notifications@github.com>
wrote:

[2016-12-09 19:23] selewis opened #47 "version number clipping off any characters (solely numeric)"
Need to allow alphanumeric

[2016-12-09 19:25] #47 closed

[2016-12-09 19:27] #15 closed

[2016-12-09 21:45] krchristie commented on #15
2.28c isn't any noisier than previous versions during initial loading. It's after a propagation that popped up the qualifier dialog box. But more of an FYI observation than anything else. Certainly the qualifier box works. I didn't actually check the taxon popup...

Thanks for fixing it!!!

[2016-12-21 16:36] #24 closed

[2017-01-09 16:50] srengel opened #48 "PAINT annotations to budding yeast GTT1"
GTT1 is an ER-associated glutathione transferase.

it has PAINT annotations to nucleus and translation elongation factor activity. can someone please check these?  they seem to be in error.

thanks,
stacia

[2017-01-11 10:05] pgaudet commented on #48
Hi Stacia,

This is odd. This protein was annotated as NOT nucleus, see http://pantree.org/node/annotationNode.jsp?id=PTN000136573

However in the yeast species specific file (http://viewvc.geneontology.org/viewvc/GO-SVN/trunk/gene-associations/submission/paint/pre-submission/gene_association.paint_sgd.gz?revision=37505)  the NOT seems to have been lost. @selewis @cmungall - who is responsible for

[2017-01-19 00:28] selewis commented on #48
Hi - would help a lot to include IDs (i.e. for family, go term, and protein). Maybe asking too much but it adds an extra step to figure out exactly what is being discussed. (e.g. PTHR11260, GO:0005634, and P29547)

Anyhoo - at this point in PANTHER v11, many of the experimental annotations are no longer found in this family. The original annotation was (in part) based on SGD:S000005969's annotatio

[2018-03-12 20:01] kltm opened #49 "GAFs output from PAINT need to conform to GAF spec 2.1"
Currently, the rest of the pipeline is using GAF 2.1, whil PAINT is apparently still using 2.0.

The closure of this issue would be either

* the header is updated to 2.1 (in the case that the header is incorrect)
* the output GAF is updated to conform to GAF spec 2.1 and the header is updated to reflect this

This is either and enhancement or bug depending on which of the above it is.

[2018-03-27 22:12] selewis opened #50 "PAINT GAF files coming from PANTHER need to include all 'with' information in the GAF"
Without having the trees available we have no access to the original experimental information. Previously this info was included in the GAF files, but it seems to have disappeared. @huaiyumi when you generate the panther protein family GAFs from your database are you including this info?

It's still needed and we're discussing the best way to convey it that would improve upon the comma (AND) separ

[2018-03-27 23:57] selewis opened #51 "Need a linkable URL formation for PTNs to PANTHERDB.org"
Now that the with column is being included in the GO ribbon the PTN ancestral nodes are displayed. (See http://xenademo.berkeleybop.io:2992/gene/SGD:S000002976 and click on homeostasis for an example). As near as I can determine there is currently no means of using a PTN id to open the appropriate tree on the PANTHER site. We'd really like to link to PANTHER, but right now a link is impossible (in

[2018-03-28 00:19] kltm commented on #50
Note possible relation to https://github.com/geneontology/go-site/issues/556

[2018-03-28 01:53] cmungall commented on #50
I'm not sure exactly what the action is and who is responsible. I think this is a ticket just for @huiayu? It's best to use the assignee field for people who are doing the work (others can be `@`-mentioned).

Can you show an example of the relevant columns as they were before, and as they are now?

[2018-03-29 17:37] huaiyumi commented on #50
The PTN ids are included in the 'with' column. I think the file format is exactly the same as the PAINT GAF files generated before. If more information is needed in that column, please let me know. We should put it in the document.

[2018-03-29 17:42] huaiyumi commented on #51
The PTN ids can be linked to the pantree website, e.g., http://pantree.org/node/annotationNode.jsp?id=PTN000684825. However, it is true that it is not easy to trace the experimental evidence used to annotate the ancestor node.

[2018-03-29 22:23] selewis commented on #50
Based on our call today (March 29, 2018) @huaiyumi will begin adding these to the PAINT gaf files. So the "with" column will look something like this:
PANTHER:PTN001944787|RGD:727928|HGNC:32017
Note that this is a bandaid we're using purely as a convenience for packaging the experimental basis for the ancestral gene's annotation. It's one level removed. @cmungall and @kltm - at some point we shoul

[2018-03-29 22:24] selewis commented on #50
@huaiyumi - any chance you have an estimated arrival date for these? Would you coordinate with @kltm and @dougli1sqrd so that it doesn't just miss a pipeline run.

[2018-04-10 08:24] huaiyumi commented on #50
As we discussed at the call about two weeks ago, the new PAINT GAF file will include leaf sequences that are used as evidence in the 'with' column.

[2018-04-10 23:36] kltm opened #52 "The PANTHER PAINT FTP site no longer has /downloads/paint/"
As part of the pipeline, locations such as ftp://ftp.pantherdb.org/downloads/paint/presubmission/gene_association.paint_tair.gaf.gz (as defined in the GO YAML metadata in go-site/metadata/datasets/paint.yaml) no longer seems to be defined. In fact, ftp://ftp.pantherdb.org/downloads/ no longer has a paint/ directory.

Has there been a change in the status of this location. This was first noticed at

[2018-04-10 23:40] kltm commented on #52
We also know that is still existed yesterday at 12am when the pipeline ran. This narrows the elimination to a 24 hour period.

[2018-04-10 23:42] mugitty commented on #52
It has been moved to ftp://ftp.pantherdb.org/paint/.  If you already have scripts, I can move it back.  Let me know

[2018-04-11 00:11] kltm commented on #52
Thank you! Currently, as you are the upstream for the metadata in the GO (https://github.com/geneontology/go-site/blob/master/metadata/datasets/paint.yaml), you probably want to update your metadata to the correct locations before make changes to the URL structure. For us, either returning to the old location or taking a PR to your metadata would be the easiest solutions.

[2018-04-11 00:29] mugitty commented on #52
I have moved back to tp://ftp.pantherdb.org/downloads directory

[2018-04-11 00:29] #52 closed, assigned to mugitty, huaiyumi

[2018-04-11 01:15] kltm commented on #52
Great, thank you!

[2018-05-12 15:21] huaiyumi commented on #50
This is done in the most recent release.

[2018-05-12 15:21] #50 closed, assigned to huaiyumi

[2018-05-12 15:22] huaiyumi commented on #49
This is fixed.

[2018-05-12 15:22] #49 closed, assigned to huaiyumi

[2018-05-22 18:22] #1 closed

[2018-05-22 18:22] #4 closed

[2018-05-22 18:25] #51 closed, assigned to huaiyumi

[2018-05-22 18:45] pgaudet commented on #48
@huaiyumi Dis you reannotate the tree ?
(next time can you please make a comment when you close a ticket)

Thanks, Pascale

[2018-05-22 19:05] tberardini commented on #33
Has the touchup been run?  If so, where are the resulting new files?  I looked here:

http://geneontology.org/gene-associations/submission/paint/pre-submission/

and here

http://viewvc.geneontology.org/viewvc/GO-SVN/trunk/gene-associations/submission/paint/pre-submission/

but those files are from May of 2017.

[2018-05-23 13:31] pgaudet commented on #37
@huaiyumi why did you close this ticket ? Is it in the PAINT tracker ?

[2018-05-23 16:43] huaiyumi commented on #33
@tberardini The location of updated gafs can be found in the yaml file below:
https://github.com/geneontology/go-site/blob/master/metadata/datasets/paint.yaml

[2018-05-23 16:44] huaiyumi commented on #37
I thought it was a really old ticket with little information.

[2018-05-23 20:06] pgaudet commented on #37
We can add information :) I think most were still valid.
Pascale

[2018-05-25 21:03] tberardini commented on #33
Thanks for the pointer, @huaiyumi .

[2018-08-01 21:54] hdrabkin opened #53 "How to get new Paint annotations into the MGI database"
What Id like to have to load PAINT annotations into MGI is
the url for
the Mod-specific PAINT gaf that is 'injected' into the mod gaf for mgi?
Otherwise we have to download the entire final processed mod gaf to get them back out? Is that the only option now? From this, yes: http://snapshot.geneontology.org/annotations/mgi.gaf.gz

Need reply soon because I need to write a new Work order for this to

[2018-08-03 04:52] cmungall commented on #53
You have two options

You can get the processed PAINT gaf pre-injection here:
http://snapshot.geneontology.org/products/annotations/paint_mgi.gaf.gz

But planning ahead, you may want to consider making  http://snapshot.geneontology.org/annotations/mgi.gaf.gz your one-stop shop, because we will later start injecting Noctua annotations in there too.

[2018-08-03 08:41] pgaudet commented on #53
@cmungall What's the difference between getting those from
GO http://snapshot.geneontology.org/products/annotations/paint_mgi.gaf.gz
versus directly from PAINT ? ftp://ftp.pantherdb.org/downloads/paint/presubmission/gene_association.paint_mgi.gaf.gz

Thanks, Pascale

[2018-08-03 12:58] hdrabkin commented on #53
Thanks @cmungall . I  guess at the moment, since we only have pre 5/2017 PAINT, switching the URL to http://snapshot.geneontology.org/products/annotations/paint_mgi.gaf.gz would not require any other changes to the existing workflow (and would thus make it a support issue).
On the other hand, extracting the PAINT specific annotations from mgi.gaf will require a redesign of the pipleline (ie, fetch

[2018-08-03 13:05] pgaudet commented on #53
@cmungall I dont understand why you send the snapshot link. I thought we wanted people to download a version, so as to all have the same data.

Thanks, Pascale

[2018-08-03 20:16] cmungall commented on #53
providers already get snapshot ontology etc, many want latest version

[2018-08-03 21:08] kltm commented on #53
@pgaudet As well, the ones you get from snapshot have been run through the QC/QA pipeline, giving you filters, upgrades, and associated reports.

[2018-08-03 21:18] pgaudet commented on #53
Right, but when we had the call about documentation a few weeks back I thought we had agreed that we wanted everyone to display 'citable' versions, and the snapshots are not.

@vanaukenk @ukemi

[2018-08-03 23:21] kltm commented on #53
For "public" use, correct. For "internal" use, where people in the GOC what to review or get things at a higher frequency, the snapshot is the correct route.

[2018-08-06 09:21] pgaudet commented on #53
OK, but PAINT annotations are consumed by MODs to be displayed publicly, it's not like they can edit them (since this is done via PAINT). So why recommend loading them ? (I think this can only lead to confusion about data versions).

Pascale

[2018-08-06 20:00] kltm commented on #53
@pgaudet I'm not quite understanding what you're saying here--those are the PAINT annotations from the source filtered through our QC pipeline. Where else should people be getting them from?

[2018-08-06 20:06] pgaudet commented on #53
I thought we had recommended that people use a citable release date, and the snapshots are not.

[2018-08-06 20:09] kltm commented on #53
@pgaudet
From https://github.com/geneontology/paint/issues/53#issuecomment-410399847
For "public" use, correct. For "internal" use, where people in the GOC want to review or get things at a higher frequency, the snapshot is the correct route.

If this is unclear, we can have a quick call to clarify.

[2018-08-06 20:10] pgaudet commented on #53
I think the envisioned usage here is to display in the MOD. (MODs assume other people do the PAINT QC)

 @hdrabkin please correct if this is wrong.

[2018-08-06 20:19] hdrabkin commented on #53
We blame PAINT annotations on PAINT curators, whoever they may be. 8-)
However, if the snapshot is more current, although still filtered and QC/QA'd,  (it IS the same thing that will get merged with the contributed files), we'd like to not wait a month to display them here at MGI.
We usually load PAINT weekly; it's a drop/reload, so obsoleted terms, etc. will be purged.
However, if the snapshot is

[2018-08-06 20:24] kltm commented on #53
@hdrabkin
The "snapshot" pipeline run is attempted nightly and is the exact same thing that is merged with the final GO pipeline GAF. If you are interested in having the GO pipeline QCed version of the upstream PAINT annotations, that would be the place to get them.
The "release" pipeline is the same in every respect except: 1) it has a different URL set (that is versioned), 2) it has a related DO

[2018-08-06 20:56] pgaudet commented on #53
I'm adding this to the next managers call. I thought we wanted people to use 'citable' releases for display on their sites. If that's not the case we'll need to update the documentation (http://wiki.geneontology.org/index.php/Release_Pipeline#Consuming_and_Displaying_GO_Data).
@vanaukenk
@ukemi

[2018-08-06 22:16] kltm commented on #53
@pgaudet We do, but not *necessarily* for Consortium members.
For example, we want to get to a point where tools like DAVID cite our data DOI so that we can immediately know how fresh the data is. Without these DOIs, it's very hard to recreate an experiment or results from an external tool.
However, people who are internal to the GOC, and are relying on GO tools or pipeline for working with their

[2018-08-07 09:32] pgaudet commented on #53
Great. How about we add these guidelines:

"To get the most up-to-date data, groups can download data from the 'daily snapshots'; however, for display in public databases and integration in analysis tools, data from Monthly Official Releases should be used".

@kltm Are we on the same page ?

[2018-08-07 15:37] kltm commented on #53
@pgaudet I'd probably be a little more ginger with hard-and-fast rules here, as all providers are going to have different uses and needs for the data we process. If the context of the above text is the internal wiki *Release_Pipeline* page, maybe I'd write something like:
"The most up-to-date (~daily) data and reports are available from http://snapshot.geneontology.org; in cases where citability o

[2018-08-08 08:32] pgaudet commented on #53
Sure - I was thinking to add this text in the wiki page (internal documentation).
I'll use your phrasing for the GO website.

Thanks, Pascale

[2018-08-15 15:54] pgaudet commented on #53
@ukemi says that MGI will take the entire MGI GAF, get the PAINT annotations from that GAF to load in their database.

@hdrabkin Is this accurate ?

[2018-08-15 16:13] hdrabkin commented on #53
Yes indeedy;
In fact, I just approved the change to our load so that we will fetch the new PAINT annotations this weekend.

[2018-08-15 16:36] pgaudet commented on #53
OK good, so please close the ticket when you consider it resolved.

Pascale

[2018-08-15 16:37] #53 closed, assigned to hdrabkin

[2019-06-03 21:53] pgaudet opened #54 "PAINT should load and consider the IKR annotations coming from primary annotations"
Hello,

https://github.com/geneontology/go-annotation/issues/2378

There is a problem with primary annotations with evidence code IKR (+NOT): we should NOT propagate IBA (positive annotations) for leaves that have NOT annotations.

Behavior should be the same as when there is a NOT IDA.

I think the task is to load IKR in PAINT, and all NOTs should be treated the same way.

@dustine32 @mugitty

[2019-06-12 17:25] pgaudet opened #55 "For families with curation status 'Not curated', write 'Not curated' in the search results (rather than unknown)"

[2019-06-12 17:33] mugitty commented on #55
The status has to be set when data is loaded for the books. PAINT only modifies status for books that it modifies.

[2019-06-12 17:50] pgaudet commented on #55
OK - so I suppose this cannot be done?

Unless the default is 'no curated' rather than 'unknown'? (is there a default value ? or does the tool insert 'unknown' when there is no info?)

[2019-06-12 18:24] mugitty commented on #55
The tool displays 'unknown', if it encounters a status that is not part of its list of known statuses.

We should set the curation status during the monthly load or whenever there is a new library.

[2019-09-12 16:26] vanaukenk opened #56 "C. elegans PAINT annotations have both WBGene IDs and UniProtKB accessions in column 2 of the GAF"
Hi,

In trying to sort out and correct the 'type' entry in Column 12 of the WB GAF, I was also looking into why we have a small percentage of entries in the file that have lines with 'type' protein (most of our entries are 'type' gene which we'll need to fix).

It looks like the protein entries are cases where there's an IBA annotation associated with a UniProtKB accession rather than a WB gene.

[2019-09-12 17:25] dustine32 commented on #56
@vanaukenk This is determined by our yearly Panther version build process, which parses UniProt's xref files to map `UniProtKB` IDs to MOD IDs. In looking at the current Panther version's (14.1) source files as well as the new RefProt files for this year's Panther (15.0), I see the xref connecting A0A168H3E7 to WB:WBGene00044528, so I think we're getting the right data.

But this WB xref might not

[2019-11-01 12:23] hattrill commented on #54
Can we address the NOT issue? A NOT should block propagation regardless of evidence code.

[2019-11-05 01:00] mugitty commented on #54
There are a number of issues here:
- PAINT client now supports experimental IKR to leaf

- What is the expected behavior, if leaf has annotation with qualifier that is not same as IBA? All types of qualifiers have to be handled

@pgaudet, can  you discuss during next annotation meeting.

[2020-01-08 20:21] pgaudet opened #57 "PAINT - NOT'ing all annotations for a node"
Hello,
When there is a long branch (for example) we sometimes want to put NOT-IRD annotations for all terms, since we don't know what functions may have been conserved. When there are many annotations this is tedious. It would be nice to be able to NOT all annotations for a node in a single operation.

Thanks, Pascale

[2020-02-27 23:03] krchristie commented on #57
Isn't putting "NOT" on these annotations saying that you **know** that it is NOT x. It seems like what you would really want to do is block propagations so that you don't make an annotation at all.

[2020-02-27 23:14] pgaudet commented on #57
The NOT -IRD is a 'stop propagation' those are not exported, so we don't state 'NOT x'.

[2020-02-28 01:28] krchristie commented on #57
Great. I seem to recall that there was a period where PAINT was definitely generating NOT annotations in all the places where I only wanted to block propagation.

[2020-02-28 18:54] pgaudet commented on #57
Right - this is now fixed :)

[2021-03-29 17:05] vanaukenk commented on #56
@dustine32 @huaiyumi

It's been a bit since I first entered this ticket, but @chris-grove has noted that the presence of non-WBGene identifiers in our GOC-produced GAF is now having trickle-down effects for Alliance Mine, as some C. elegans entries do not resolve to a WBGene id.

What are the prospects for getting the non-WB gene ids in Panther upgraded to their respective WBGene ids?

If the ids

[2021-03-29 23:41] dustine32 commented on #56
Sorry that this ticket got left behind @vanaukenk! Those example IDs will need some manual intervention from us to get them to pick up the correct WB ID in the next PANTHER library build.

In the meantime, as you suggested, we could just add a GAF bandaid for the IBAs similar to what we currently do with some TAIR IDs. We'd make a small UniProt->WB lookup file for the few (~200) PTHR long IDs (e.g

[2021-03-31 04:53] huaiyumi commented on #56
This is caused by reference proteome. When they don't provide the WB ID in their file, we can't do anything. It is important to ask them to fix the data.

[2021-03-31 13:21] vanaukenk commented on #56
Thanks @dustine32 and @huaiyumi !

@dustine32 - for the look-up file, would it make sense to use the WormBase gpi file?  The URL for that is in our [wb.yaml](https://github.com/geneontology/go-site/blob/master/metadata/datasets/wb.yaml) file.  I don't know if that will fix everything, but perhaps this would be a more general solution if other groups encounter the same id issue in the PAINT annotat

[2021-03-31 14:50] dustine32 commented on #56
As it turns out, the WB mappings were in the upstream Reference Proteome file for 16.0, but our ID mapping script reused the same long ID since it was in the previous library. Something happened several library builds ago that prevented the WB-mapping and the error kept being passed along.

I have a mechanism for "flushing" these stale IDs out so that they all pick up the right MOD mappings (so lo

[2021-03-31 17:58] chris-grove commented on #56
Hello all, I just want to add that there are also IDs that are not UniProt IDs that need to be addressed (I have no idea where they are coming from). These identifiers are identical to CDS IDs used at WB for genes. There are 30 of these used across 124 annotations:

C16D6.2b
C33H5.11d
C34F11.9e
C34G6.4b
C44E4.1d
C46H11.11e
F09E5.15c
F16B3.1b
F25E2.5d
F25H5.1i
F52H2.2b
F53A2.8a
K10G6.3g
M176.9b
R02